:root {
    --bg-menu: rgb(23, 50, 100);
    --bg-gamefield: rgb(15, 15, 15);
    --label-font-color: rgb(255, 255, 255);
    --menu-height: 20%;
    --gamefield-height: calc(75% - var(--menu-height));
}

body, html {
    width: 100%;
    height: 100%;
}

.sections {
    display:inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.main-container {
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    background-color: rgb(27, 27, 27);
}

#menu {
    height: var(--menu-height);
    background-color: var(--bg-menu);
}

#gamefield {
    --margin: 1.5%;
    margin: var(--margin) var(--margin) var(--margin) var(--margin);
    width: calc(100% - 2*var(--margin));
    height: calc(var(--gamefield-height) - 2*var(--margin));
    background-color: var(--bg-gamefield);
}

#send-form {
    padding:2%;
}

.number-input {
    background-color:rgba(0,0,0,0);
    color:blanchedalmond;
    border:none;
    width: 7ch;
}

.range {
    margin-left: 10px;
    border-radius: 3px;
}

.div-form {
    display:inline-block;
    color: var(--label-font-color);
    margin-right:5px;
}


.footer-container {
	background-color: #212329;
	padding-top: 1rem;
}

.footer {
    font-family: Arial;
	width: 80%;
	height: 10%;
	background-color: #212329;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.footer-heading {
	display: flex;
	flex-direction: column;
	margin-right: 4rem;
}

.footer-heading h2 {
    font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.footer-heading h3 {
	font-size: 0.75rem;
    color: rgba(141, 163, 184, 0.344);
}

.footer-heading a {
	color: #fff;
	text-decoration: none;
	margin-bottom:0.5rem;
}

.footer-heading a:hover {
	color: red;
	text-decoration: none;
	transition: 0.3s ease-out;
#buttons {
    margin-top: 20px; 
    text-align: center;
}

#sim-score {
    text-align: center;
    color: white;
}