:root {
    --bg-menu: rgb(23, 50, 100);
    --bg-gamefield: rgb(15, 15, 15);
    --label-font-color: rgb(255, 255, 255);
    --menu-height: 25%;
    --gamefield-height: calc(100% - var(--menu-height));
}

body, html {
    width: 100%;
    height: 100%;
}

.sections {
    display:inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.main-container {
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    background-color: rgb(27, 27, 27);
}

#menu {
    height: var(--menu-height);
    background-color: var(--bg-menu);
}

#gamefield {
    --margin: 1.5%;
    margin: var(--margin) var(--margin) var(--margin) var(--margin);
    width: calc(100% - 2*var(--margin));
    height: calc(var(--gamefield-height) - 2*var(--margin));
    background-color: var(--bg-gamefield);
}

#send-form {
    padding:2%;
}

.number-input {
    background-color:rgba(0,0,0,0);
    color:blanchedalmond;
    border:none;
    width: 7ch;
}

.range {
    margin-left: 10px;
    border-radius: 3px;
}

.div-form {
    display:inline-block;
    color: var(--label-font-color);
    margin-right:5px;
}

#buttons {
    margin-top: 20px; 
    text-align: center;
}

#sim-score {
    text-align: center;
    color: white;
}